.recent-movies-container {
  width: 80%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 450px);
  align-items: center;
  grid-gap: 30px;
  //   justify-content: center;
}
