.header {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  width: 100%;
  margin-bottom: 10px;
  height: 100px;
  background-color: #2e6ae1;

  &__navs {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(autofit, 1fr);
    margin-top: 2%;
    list-style: none;
    grid-auto-flow: column;
    justify-content: end;
  }

  &__user-auth {
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    align-items: center;
    list-style: none;

    .signIn {
      text-align: end;
    }
  }

  li {
    display: inline-block;
    text-align: center;
    margin: 5px 10px;

    a {
      text-decoration: none;
      cursor: pointer;
      color: white;
      padding: 10px 15px;
    }
  }

  .logo {
    display: grid;
    text-align: center;
    grid-column: 1/2;
    background-color: white;
    height: inherit;
    margin-top: 0;
    align-items: center;
    color: #2e6ae1;
    font-size: 76px;
  }

  .oscar-box {
    display: grid;
    gap: 10px;
    position: absolute;
    margin-top: 20px;
    padding-left: 0;

    li {
      margin-bottom: 10px;
      position: relative;
      margin-left: 0;
      background-color: #2e6ae1;
      padding: 10px 0;
      a {
        padding: 10px 0 !important;
      }
    }
  }
}
