.Card {
  height: auto;
  padding: 30px;
  input {
    padding: 15px;
    width: inherit;
    margin: 10px 0;
  }
}
.reg-login-btn {
  padding: 20px;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
}
.movie-card {
  //align all the items in a movie card
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //@extend
  border: 3px solid #eeeeee;
}
